<footer class="app-footer">
    <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="footer-links">
        <a href="/aboutus">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="#">Delivery</a>
         
    </div>
    <div class="copyright">
        © copyright 2025 Mason Telecom
    </div>
     
</footer>

@code {

}