<header class="top-header">
    <div class="container-fluid">
        <nav class="navbar">
            <div class="logo">
                <a class="navbar-brand" href="#">
                    <img src="/Image/maisonlogo.jpg" alt="Mason Telecom" />
                    <span>Mason Telecom</span>
                </a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search" />
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="user-icons">
                <a href="#"><i class=""></i>HOME</a>
                @* <a href="#"><i class=""></i>SHOP</a> *@
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              
            </div>
        </nav>
    </div>
</header>