.cart-page {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

    .cart-header h1 {
        font-size: 2rem;
        font-weight: bold;
    }

.continue-shopping {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 1rem;
}

.item-details {
    flex-grow: 1;
}

    .item-details p {
        margin: 0;
    }

.item-price, .item-name {
    font-weight: bold;
}

.item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

    .quantity-selector button {
        background: none;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
    }

    .quantity-selector span {
        padding: 0 1rem;
    }

.remove-link {
    color: red;
    text-decoration: none;
}

.item-total-price {
    font-weight: bold;
}

.cart-summary {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 2rem;
}

.subtotal {
    border: 1px solid #ccc;
    padding: 1.5rem;
    text-align: center;
    margin-right: 1rem;
}

    .subtotal p {
        margin: 0.5rem 0;
    }

.checkout-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .checkout-button:hover {
        background-color: #1E40AF;
    }
    .checkout-button .fa-lock {
        margin-right: 0.5rem;
    }

/* Responsive Styles */
@media (max-width: 768px) {
    .cart-page {
        padding: 1rem;
    }

    .cart-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-image {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .item-actions {
        margin: 1rem 0 0 0;
        width: 100%;
    }

    .cart-summary {
        flex-direction: column;
        align-items: stretch;
    }

    .subtotal {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .checkout-button {
        width: 100%;
        justify-content: center;
    }
}
