@page "/admin/customer"
@layout MaisonTelecom.Components.Layout.AdminLayout

<div class="admin-page-container">
    <h1 class="admin-page-title">Customer Details</h1>
    <div class="admin-content-box">
        <div class="admin-content-header">
            <h2>Personal Info: Annie</h2>
            <button class="back-btn">Back</button>
        </div>

        <p><strong>Phone:</strong> 67x xxx xxx</p>
        <p><strong>Joined:</strong> 20/09/2025</p>

        <div class="admin-content-header">
            <h2>Purchases Made</h2>
        </div>
        <div class="admin-table-container">
            <table class="admin-table">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Date and Time</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>22/09/25 02:00</td>
                        <td>Barca Jersey</td>
                        <td>2</td>
                        <td>35,000 XAF</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>