@page "/contactus"
 
 

<div class="contact-us-container">
    <h1>Contact Us</h1>
    <div class="contact-us-content">
        <div class="get-in-touch">
            <h2>Get In Touch</h2>
            <p>Here at Maillot, we prioritize customer satisfaction which is why we have a support system that's available 24/7 to tend to all of your needs.</p>
            <ul>
                <li><i class="fas fa-phone"></i> +237 690 05 91 97</li>
                <li><i class="fab fa-whatsapp"></i> +237 90059197</li>
                <li><i class="fas fa-envelope"></i> maisontelecom@gmail.com</li>
                <li><i class="fas fa-map-marker-alt"></i> Douala, Cameroon</li>
            </ul>
            <h3>Social Links</h3>
            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
            </div>
        </div>
        <div class="send-message">
            <h2>Send Us A Message</h2>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Name" />
                </div>
                <div class="form-group">
                    <input type="email" placeholder="E-Mail" />
                </div>
                <div class="form-group">
                    <textarea placeholder="Message"></textarea>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>