@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-section">
    <img src="/Image/masonhero.png" alt="Happy customers shopping for electronics" />
    <div class="hero-text">
        <button class="btn btn-shop-now">Shop Now</button>
    </div>
</div>